Application/EdFi.Ods.Standard/Standard/6.1.0/Artifacts/Schemas/Interchange-SpecialEducationDataModel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/6.1.0" targetNamespace="http://ed-fi.org/6.1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Special Education Data Model Interchange Model =====</xs:documentation>
  </xs:annotation>
  <xs:element name="InterchangeSpecialEducationDataModel">
    <xs:annotation>
      <xs:documentation>The Special Education Data Model captures and organizes data pertaining to the individualized educational programs, services, and educational goals of students enrolled in special education.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="IDEAEvent" type="IDEAEvent" />
        <xs:element name="Staff" type="Staff" />
        <xs:element name="Student" type="Student" />
        <xs:element name="StudentIEP" type="StudentIEP" />
        <xs:element name="StudentIEPServicePrescription" type="StudentIEPServicePrescription" />
        <xs:element name="StudentIEPServiceDelivery" type="StudentIEPServiceDelivery" />
        <xs:element name="StudentIEPGoal" type="StudentIEPGoal" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
