Ed-Fi-Extensions/Ed-Fi-Extensions/Extensions/EdFi.Ods.Extensions.Sample/Versions/1.0.0/Standard/6.0.0/Artifacts/Schemas/EXTENSION-Interchange-StaffAssociation-Extension.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/6.0.0" targetNamespace="http://ed-fi.org/6.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="EXTENSION-Ed-Fi-Extended-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Staff Association Interchange Model =====</xs:documentation>
  </xs:annotation>
  <xs:element name="InterchangeStaffAssociation">
    <xs:annotation>
      <xs:documentation>This interchange defines staff and teacher information. It can be used to define employment, assignment, and teaching associations, as well as staff positions and staff leave events.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Staff" type="EXTENSION-StaffExtension" />
        <xs:element name="StaffDemographic" type="StaffDemographic" />
        <xs:element name="StaffDirectory" type="StaffDirectory" />
        <xs:element name="StaffIdentity" type="StaffIdentity" />
        <xs:element name="StaffEducationOrganizationEmploymentAssociation" type="StaffEducationOrganizationEmploymentAssociation" />
        <xs:element name="StaffEducationOrganizationAssignmentAssociation" type="StaffEducationOrganizationAssignmentAssociation" />
        <xs:element name="StaffSchoolAssociation" type="StaffSchoolAssociation" />
        <xs:element name="StaffSectionAssociation" type="StaffSectionAssociation" />
        <xs:element name="StaffLeave" type="StaffLeave" />
        <xs:element name="OpenStaffPosition" type="OpenStaffPosition" />
        <xs:element name="StaffProgramAssociation" type="StaffProgramAssociation" />
        <xs:element name="StaffAbsenceEvent" type="StaffAbsenceEvent" />
        <xs:element name="Credential" type="Credential" />
        <xs:element name="Person" type="Person" />
        <xs:element name="OpenStaffPositionEvent" type="OpenStaffPositionEvent" />
        <xs:element name="StaffEducatorPreparationProgramAssociation" type="StaffEducatorPreparationProgramAssociation" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
