Ed-Fi-Extensions/Ed-Fi-Extensions/Extensions/EdFi.Ods.Extensions.Sample/Versions/1.0.0/Standard/6.0.0/Artifacts/Schemas/EXTENSION-Interchange-Path-Extension.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/6.0.0" targetNamespace="http://ed-fi.org/6.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="EXTENSION-Ed-Fi-Extended-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Path Interchange Model =====</xs:documentation>
  </xs:annotation>
  <xs:element name="InterchangePath">
    <xs:annotation>
      <xs:documentation>This interchange defines Paths and all their identifying information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Student" type="EXTENSION-StudentExtension" />
        <xs:element name="Path" type="Path" />
        <xs:element name="PathMilestone" type="PathMilestone" />
        <xs:element name="PathPhase" type="PathPhase" />
        <xs:element name="StudentPath" type="StudentPath" />
        <xs:element name="StudentPathMilestoneStatus" type="StudentPathMilestoneStatus" />
        <xs:element name="StudentPathPhaseStatus" type="StudentPathPhaseStatus" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
